body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header h1 {
    animation: aparecer 2s ease-in-out;
}

header {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s; 
}

nav a:hover {
    color: #ffdf00;
    transform: scale(1.1); 
}


main {
    padding: 20px;
}

section, article {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover, article:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}


footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
}


@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
